    {% extends "base.html" %}
    {% block conteudo %}
    <h1 class="sobre">Sobre Nos</h1>
    <p class="textoSobre">Lançada em 2022, a Marxs é uma plataforma adaptada
        para cada região, dando aos consumidores uma experiência de compra online fácil,
        segura e rápida, através de um forte suporte de pagamentos e logística.

Comprar online deve ser algo acessível, fácil e agradável. Essa é a visão que a Shopee busca entregar em nossa plataforma, todos os dias.</p>
    {% endblock conteudo %}
